header {
  height: 100vh;
  padding: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ===== CTA ===== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ===== SOCIALS ===== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3.6rem;
}

/* ===== IMAGE ===== */
.header__image {
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
}

/* ===== SCROLL DOWN ===== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5.5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ===== MEDIA QUERIES (TABLET) ===== */
@media screen and (max-width: 1024px) {
  header {
    height: 90vh;
  }
}

/* ===== MEDIA QUERIES (MOBILE) ===== */
@media screen and (max-width: 600px) {
  header {
    height: 90vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
