footer {
  background: var(--color-bg-variant);
  padding: 3rem 0 7rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

/* ===== SOCIALS ===== */
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

/* ===== MEDIA QUERIES (TABLET) ===== */
@media screen and (max-width: 1024px) {

}

/* ===== MEDIA QUERIES (MOBILE) ===== */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-top: ;
  }
}
